
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Phone Model Filling Form.</h1>
    <form action="{% url 'Home' %}" method="post">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Fill The Form.">
    </form>
</body>
</html>